<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <title><%= title %></title>
  <link rel="stylesheet" href="/lib/bootstrap-3.3/css/bootstrap.css">
  <script src="/lib/jquery/jquery-3.1.1.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="head">网站cms</div>
<div class="body">
  <div id="BODYMAIN">
    <router-view></router-view>
  </div>
</div>
<div class="foter"></div>

<script src="/js/app.js"></script>
</body>
</html>